.mt{margin-top:10px;}
.mr{margin-right:10px;}
.mb{margin-bottom:10px;}
.ml{margin-left:10px;}
.mx{margin: 10px;}
.mt-xl{margin-top:20px;}
.mr-xl{margin-right:20px;}
.mb-xl{margin-bottom:20px;}
.ml-xl{margin-left:20px;}
.mx-xl{margin: 20px;}
.font-size-24{font-size: 24px;}
.font-size-22{font-size: 22px;}
.font-size-20{font-size: 20px;}
.font-size-18{font-size: 18px;}
.font-size-16{font-size: 16px;}
.letter-spacing-6{letter-spacing:6px}
.tal{text-align: left;}
.tac{text-align: center;}
.tar{text-align: right;}
.head-top{margin-top:50px;}