html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td ,textarea,input { margin:0; padding:0;  }
address,cite,dfn,em,var, i {font-style:normal;}
body {font-size: 16px; line-height: 1.5; font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;  color: #222; background: #fff; }
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6, th { font-size: 100%; font-weight: normal; }
button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
a { text-decoration: none; color: #666; background: none }
ul, ol { list-style: none; }
:focus{ outline:none;}
.clearfix{ clear: both; content: ""; display: block; overflow: hidden }
.clear{clear: both;}
.fl{ float: left; }
.fr{float: right;}
.flex{display:flex}
.flex-wrap{
  flex-wrap:wrap;
}
.just-center{
  justify-content: center;
}
.just-between{
  justify-content: space-between;
}
.just-end{
  justify-content: flex-end;
}
.tar{text-align: right;}
.tac{text-align: center;}
.tal{text-align-last: left;}
.mr{margin-right: 10px;}
.container{
  width: 1170px;
  /* background: #fff; */
  margin: 0 auto;
  text-align: left;
}
.mt{margin-top: 10px;}
.mt-lg{margin-top: 20px;}
.mt-sm{margin-top: 5px;}

.mr-sm{margin-right: 5px;}
.mr{margin-right: 10px;}
.mr-lg{margin-right: 20px;}
.ml-sm{margin-left: 5px;}
.ml{margin-left: 10px;}
.ml-lg{margin-left: 20px;}
.cursor-pointer{cursor:pointer}
.scrollbar{
  /*三角箭头的颜色*/
  scrollbar-arrow-color: #fff;
  /*滚动条滑块按钮的颜色*/
  scrollbar-face-color: #cdcdcd;
  /*滚动条整体颜色*/
  scrollbar-highlight-color: #cdcdcd;
  /*滚动条阴影*/
  scrollbar-shadow-color: #cdcdcd;
  /*滚动条轨道颜色*/
  scrollbar-track-color: #515151;
  /*滚动条3d亮色阴影边框的外观颜色——左边和上边的阴影色*/
  scrollbar-3dlight-color:#cdcdcd;
  /*滚动条3d暗色阴影边框的外观颜色——右边和下边的阴影色*/
  scrollbar-darkshadow-color: #cdcdcd;
  /*滚动条基准颜色*/
  scrollbar-base-color: #cdcdcd;
}
/* chrome & safari 浏览器 */
/*滚动条整体部分,必须要设置*/
.scrollbar::-webkit-scrollbar{
  width: 0px;
  height: 0px;
  background-color: #cdcdcd;
}
/*滚动条的轨道*/
.scrollbar::-webkit-scrollbar-track{
  background-color: #cdcdcd;
}
/*滚动条的滑块按钮*/
.scrollbar::-webkit-scrollbar-thumb{
  border-radius: 0;
  background-color: #515151;
  /* box-shadow: inset 0 0 5px #515151; */
}
/*滚动条的上下两端的按钮*/
.scrollbar::-webkit-scrollbar-button{
  height: 0;
  background-color: #cdcdcd;
}
